@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap");

:root {
  --color-1: #fff9eb;
  --color-2: #00204f;
  --color-3: #c2daff;
  --color-4: #ffaf0f;
  --color-5: #f21905;
  --main-text-color: #00204f;

  --primary-font: "Krona One", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

main {
  padding-top: 110px;
}

header {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid black;
  width: 100%;
}

.logo {
  font-family: var(--secondary-font);
  padding-top: 1.2rem;
  color: red;
  font-size: 28px;
  text-transform: uppercase;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  font-family: var(--primary-font);
  font-size: 15px;
  color: var(--color-2);
  padding: 0;
}

header nav li {
  list-style: none;
  margin: 0.8vw 1.5vw 0.3vw;
  padding: 7px;
}

nav ul li:hover {
  background-color: var(--color-2);
  color: white;
}

.slider {
  /* line them up horizontally */
  display: flex;

  /* allow for scrolling */
  overflow-x: auto;

  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
}

.slider > * {
  display: flex;
  flex-shrink: 0;
  width: 60vw;
  min-height: 20rem;
  min-width: 300px;
  margin: 4rem 2rem 1rem;
  padding: 1rem;
  font-family: var(--primary-font);
}
.image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  min-width: 280px;
}
.sliderContent {
  align-self: center;
  padding-right: 4rem;
}

.explore .image {
  background-image: url("../images/Illustrations/AMBERBEER_Amberalevirklund.svg");
}

.event .image {
  background-image: url("../images/Illustrations/IPA_rockscience.svg");
}

.subscribe .image {
  background-image: url("../images/Illustrations/SOUR_Frond.svg");
}

.slider a {
  color: var(--color-1);
  text-underline-offset: var(--offset, 0.2em);
  text-decoration: underline 0.15em;
  transition: --offset 800ms, text-decoration-color 800ms;
  font-size: 1rem;
}

.slider a:hover {
  --offset: 0.4em;
}
button {
  background-color: var(--color-2);
  border-radius: 0.5rem;
  border: none;
  font-family: var(--primary-font);
  color: var(--color-5);
}

.slider .explore {
  /* make sure the width is honored */
  background-color: var(--color-3);
}

.slider .event {
  background-color: var(--color-1);
}

.slider .subscribe {
  background-color: var(--color-4);
}

/* Styling the footer */

footer{
  background-color: var(--color-2);
  /* height: 20vw; */
}

.footer_flex1{
display: flex;
justify-content: space-between;
padding: 1vw 0vw 0vw 5vw;
}

footer h2{
  color: var(--color-5);
  font-family: var(--primary-font);
  font-size: 3vw;
  margin-top: 1vw;

}

footer h3{
  color: white;
  font-family: var(--secondary-font);
  font-size: 1.2vw;
  font-style: italic;
  font-weight: 100;
  margin-top: -1vw;
}

footer p{
  color: white;
  font-family: var(--secondary-font);
  font-size: 1.5vw;
  margin-right: 2rem;
}

.newsletter p{
  font-family: var(--primary-font);
}

.email{
  background: white;
  opacity: 0.4;
  height: 3vw;
  width: 30vw;
  border-radius: 3px;
  margin-bottom: 1vw;
}

.newsletter button{
  background-color: var(--color-3);
  border: none;
  color: var(--color-5);
  font-family: var(--primary-font);
  font-size: 1vw;
  padding: 1vw 2px;
  height: 3vw;
  width: 30vw;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.newsletter{
  padding-right: 5vw;
}

.footer_flex2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10vw 2vw 5vw;
  margin-top: -4vw; 
}

/* .footer_illustrations{
  padding-right: 20vw;
} */

footer img{
  width: 2vw;
  margin-left: 2vw;
}


@media only screen and (max-width: 1000px) {
  .sliderContent p {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .slider .image {
    display: none;
  }
}
